@using Library.Models
@model Library.Models.Book

@{
    ViewData["Title"] = "Library | Add Book";
}

<div class="container">
    <div class="page-box">
        <h2 class="fancy-shadow page-header">Add Book</h2>
        <div class="form-box">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label asp-for="BookTitle"><h4>Title:</h4></label>
                    @Html.TextBoxFor(model => model.BookTitle, new { @class = "form-control" })
                </div>
                if (ViewBag.AuthorIds.Count != 0)
                {
                    <div class="form-group">
                        <label for="AuthorIds"><h4>Authors:</h4></label>
                        @Html.DropDownList("AuthorIds", null, new { multiple = "true", @class = "form-control" })
                    </div>
                }
                <input type="submit" value="Create Book" class="btn btn-lg btn-default">
            }
        </div>
        <p>@Html.ActionLink("Back to Book List", "Index")</p>
    </div>
</div>

