@model Library.Models.Book

@{
  Layout = "_Layout";
}

<div class="container">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <select>
                @foreach (var author in Book.Authors)
                {
                    
                }
            </select>
        </div>
    }
    <hr />
    <p>@Html.ActionLink("Back to Book List", "Index")</p>
</div>