@model Library.Models.Book

@{
  Layout = "_Layout";
}

<div class="container">
    <div class="page-box">
        <h2 class="fancy-shadow page-header">Edit Book</h2>
        <div class="form-box">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.HiddenFor(model => model.BookId)
                    <h4>@Html.LabelFor(model => model.BookTitle)</h4>
                    @Html.TextBoxFor(model => model.BookTitle, new { @class = "form-control" })
                </div>
                <input type="submit" value="Update" class="btn btn-md btn-default">
            }
        </div>
        <p>@Html.ActionLink("Back to List", "Index")</p>
    </div>
</div>