@model IEnumerable<Library.Models.Book>

@{
    ViewData["Title"] = "Library | Books";
}

<div class="container">
    <div class="page-box">
        <h2 class="fancy-shadow page-header">Books</h2>
        @Html.ActionLink("Add Book", "Create", "Books", null, new { @class="btn btn-lg btn-info" })
        <div class="grid-container">
            @foreach(var book in Model)
            {
                <div class="grid-item">@Html.DisplayFor(modelItem => book.BookTitle)</div>
                <div class="grid-item">@Html.ActionLink("Details", "Details", new { id = book.BookId })</div>
                <div class="grid-item">@Html.ActionLink("Edit", "Edit", new { id = book.BookId })</div>
                <div class="grid-item">
                    @using (Html.BeginForm("delete", "books", new { id = book.BookId }, FormMethod.Post))
                    {
                        <input type="submit" value="Delete" class="no-btn-styles"/>
                    }
                </div>
            }
        </div>
    </div>
</div>