@model Library.Models.Author
@{
  Layout = "_Layout";
}

<div class="container">
    <h2>@Html.DisplayFor(model => model.AuthorFirstName) @Html.DisplayFor(model => model.AuthorLastName)</h2>
    <h4>Books:</h4>
    <ul>
        @foreach (var book in ViewBag.BookList)
        {
            <li><a href="/books/@book.BookId">@book.BookTitle</a></li>
        }
    </ul>







    
    <hr />
    <p>@Html.ActionLink("Back to Author List", "Index")</p>
</div>