@model Library.Models.Author
@{
  Layout = "_Layout";
}

<div class="container">
    <h2>@Html.DisplayFor(model => model.AuthorFirstName) @Html.DisplayFor(model => model.AuthorLastName)</h2>
    <hr />
    <p>@Html.ActionLink("Back to Author List", "Index")</p>
</div>